#root {
  margin: 0 auto;
  padding: 2rem;
  width: 75%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-box {
  padding: 2rem;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(52, 52, 52, 0.1);
  width: 100%;
}

/* Media Queries */
@media (max-width: 1200px) {
  #root {
    width: 85%;
  }
}

@media (max-width: 992px) {
  #root {
    width: 90%;
  }
  .weather-box {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  #root {
    width: 95%;
  }
  .weather-box {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  #root {
    width: 100%;
  }
  .weather-box {
    padding: 0.5rem;
  }
}
